<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289559109284-282u3gl24java6m5h76ta6crgjktthb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289559109284-282u3gl24java6m5h76ta6crgjktthb8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ySjW5PdLqjRbp00fQ0xuhut-kE_f9bs</string>
	<key>GCM_SENDER_ID</key>
	<string>289559109284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tungle.mecartoon</string>
	<key>PROJECT_ID</key>
	<string>mecartoon</string>
	<key>STORAGE_BUCKET</key>
	<string>mecartoon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:289559109284:ios:bde4c70a1c7aef35255031</string>
	<key>DATABASE_URL</key>
	<string>https://mecartoon.firebaseio.com</string>
</dict>
</plist>
